.mainTaskView {
  height: 100%;
}

.tasksList {
  width: 100%;
  overflow: auto;
  margin: 10px 0px;
  height: 696px;
}

.taskItem {
  padding: 5px;
  margin: 3px 2px;
  color: black;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskItemLabel {
  flex: 10;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}

.taskItemButton {
  flex: 1;
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.taskItemButton:hover {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(46, 46, 46);
  box-shadow: 0px 0px 8px 0px rgba(102,102,102,1);
  transition: 0.5s;
}

.taskItemButton:disabled {
  color: rgb(235, 235, 235);
  cursor: default;
}


.taskInput {
  display: flex;
}

.taskInputText {
  flex: 8;
  padding: 12px 20px;
  margin: 3px 0px 3px 2px;
  border: 1px solid rgb(49, 49, 49);
  border-right: none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  box-shadow: 0px 0px 8px 0px rgba(102,102,102,1);
}

.taskInputText:focus {
  background-color: rgb(214, 214, 214);
  transition: 0.5s;
}

.taskInputButton {
  flex: 1;
  background-color: rgb(79, 175, 71);
  color: rgb(53, 53, 53);
  padding: 12px 20px;
  margin: 3px 2px 3px 0px;
  border: 1px solid rgb(49, 49, 49);
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
}

.taskInputButton:hover {
  background-color: rgb(191, 255, 185);
  color: rgb(36, 36, 36);
  transition: 0.5s;
}

.taskInputButton:disabled {
  background-color: rgb(127, 170, 123);
  cursor: default;
}
